<h3> search result for <%= params[:search] %> </h3>
<% @school.each do |a| %>
  <% a.each do |b|  %>
    <h3><%= b.class %></h3>
    <% if b.class == User %>
      Name : <%= link_to b.name, "#{b.id}" %><br>
      City :<%= b.city %><br>
      Email :<%= b.email %>
    <% elsif b.class == Category %>
      Name : <%= link_to b.name, category_path("#{b.id}") %>
    <% elsif b.class == Post %>
      Title : <%= link_to b.title, post_path("#{b.id}") %>
      <br>
      Content : <%= b.content.html_safe %>
    <% else %>
      Content : <%= link_to b.content, post_path("#{b.post_id}") %>
    <% end %>
  <% end %>
<% end %>

