<center> <h3> Profile of - <%= @user.name %> </h3></center>
<center><div class="user_show">
  <table class = "athlete_show_table">
    <tr>
      <th>Name</th> 
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= @user.city %></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><%= @user.phone_no %></td>
    </tr>
    <% if can? :manage ,@user %>
      <tr>
        <th>Manage Account</th>
        <td>
          <button id = "active_button" value = "<%= @user.id %>" table = "<%= @user.class %>" ><%= check_activation_status(@user.id, @user.class) %></button>
        </td>
      </tr>
    <% end %>
  </table>
  <% if @user.is_active == 0 %>
    <p> This user is deactivated </p>
  <% end %> 
</div></center>