<center>
  <div class ="login_page">
    <div class ="post_header">
      <h2>Log-In</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div><span><%= f.label :email%> : </span>
      <%= f.email_field :email, autofocus: true %></div><br>
      <div><%= f.label :password %> :
        <%= f.password_field :password, autocomplete: "off" %></div><br>
      <div><%= f.submit "Sign in" ,class: 'btn btn-primary' %></div>
    <% end %>
    <p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
    <p>New User ?- <%= link_to "Sign up", new_registration_path(resource_name) %></p>
  </div>
  <h1> Wel-come In the world of Blog </h1>
</center>
<div class = "login_page_image_container">
  <%= image_tag "new2.jpg" %>
</div>