<div class = "post_view_container">
  <% if @posts.empty? %>
    <h4>No post created Till now </h4>
  <% else %>
    <h3 id ="h3_for_post_heading"> Latest Post</h3>
    <% @posts.each_with_index do |post, n| %>
      <div class="latest_post">
        <h3><b><%= link_to post.title, post_path(post) %></b></h3>
        <span> By - <%= link_to post.user.name, user_path(post.user.id) %> <span><%= time_ago_in_words(post.created_at) %> ago</span></span>
        <div class = "post_comment_count"> Comment :<%= post.comments.count %></div>
        <hr>
        <div> <%= post.content.html_safe[0, 200] %>....</div>
        <div class = "post_read_more" >
          <%= link_to "read more >> ", post_path(post) %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= will_paginate @posts %>
</div>

<div class = "post_second_container_in_index">
  <div class = "post_header">
    <h4> Post with maximum comments </h4>
  </div>
  <table>
    <% @post_with_maximum_comments.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class = "post_second_container_in_index">
  <div class = "post_header">
    <h4> Post with maximum rating</h4>
  </div>
  <table>
    <% @post_with_rating.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
      </tr>
    <% end %>
  </table>
</div>