<center><h5> This Post is wrote by - <%= @post.user.name %> </h5></center>
<div class = "show_view">
  <div class = "new_post_header">
    <p><b>Title</b><p>
  </div>
  <div class = "show_view_content">
    <p><b><%= @post.title %> </b></p>
  </div>
</div>

<div class = "show_view_post_content" > 
  <div class ="new_post_header">
    <p><b>Content</b></p>
  </div>
  <div class = "show_view_content">
    <p><b><%= @post.content %> </b></p>
  </div>
</div>
<% if can? :manage, @post %>
  <div class = "show_view">
    <div class = "new_post_header">
      <p><b>Admin Actions</b><p>
    </div>
    <div class = "show_view_content">
      <%= button_to :destroy, post_path(@post), :method => :delete %>
      <button id = "active_button" value = "<%= @post.id %>" table = "<%= @post.class %>" ><%=check_activation_status(@post.id, @post.class) %></button>
    </div>
  </div>
<% end %>

<div class ="comment_on_post">
  <div class = "new_post_header">
    <p><b>Comment</b><p>
  </div>
  <div class = "show_view_content">
    <%= form_for @comment do |f| %>
      <div>
        <%= f.label :content %>
        <%= f.text_field :content, :size => 20 %>
        <%= f.hidden_field :post_id,  :value => @post.id %>
        <%= f.hidden_field :user_id, :value => current_user.id%>
      </div>
      <div>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
    <% @comments.each do |comment| %><hr>
      <%= link_to User.find(comment.user_id).name, User.find(comment.user_id) %> <span id="comment_span"><%= time_ago_in_words(comment.created_at) %> ago</span><br>
      <%= comment.content %><br>
      <% if can? :manage, comment %>
        <span id = "comment_span"><%= link_to "destroy", comment_path(comment), :method => :delete %></span>
        <span id ="comment_span"> <button class = "active_button_comment" id = "comment<%= comment.id %>" value = "<%= comment.id %>" table = "<%= comment.class %>" ><%=check_activation_status(comment.id, comment.class) %></button></span>
      <% end %>
    <% end %>
</div>
