<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "header">
    <div class = "header_flash_message">
      <h3>BLOG.COM</h3>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class = "header_link" >
        <span id = "signed_in_as">Signed in as <%= current_user.name %></span>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => "user_account_activity_link" %>
        <%= link_to "Sign out", destroy_user_session_path,:method => :delete, :class => "user_account_activity_link" %>
      </div>
      <div class = "header_link_for_singed_user" >
        <%= link_to "User", users_path, :class => "user_account_activity_link" %>
        <%= link_to "Create Post", new_post_path,  :class => "user_account_activity_link" %>
        <%= link_to "Post Index", posts_path, :class => "user_account_activity_link" %>
        <% if current_user.admin? %>
          <%= link_to "Post category", categories_path, :class => "user_account_activity_link" %>
        <% end %>
        <div class = "navigation user_account_activity_link">Post by category
          <div class = "ul_block" style = "display:none" >
            <ul>
              <% Category.where(is_active: 1).each do |category| %>
                <li><%= link_to "#{category.name}", show_post_by_category_post_path(category) %> </li>
              <% end %>    
            </ul>
          </div>
        </div>
      </div>
      <div class = "search_form">
        <% all_data = table_data() %>
        <%= form_tag (search_users_path) do %>  
          <%= hidden_field_tag :auto_holder, "#{ all_data.join(",") }" %>
          <%= text_field_tag :search, params[:search], placeholder: "Search by post, name, title", :size =>"25" %> 
          <%= submit_tag "Search", :name => nil %>     
        <% end %>
      </div>
    <% else %>
      <div class = "header_link" >
        <%= link_to "Login", new_user_session_path, :class => "user_account_activity_link" %>
      </div>
    <% end %>
  </div>
  <div class = "yield_container">  
    <%= yield %>
  </div>
</body>
</html>
